body {font-family: Arial;}
h1 {
    font-size: 32pt;
    font-family: Verdana;
}
p {
    font-size: 14pt !important;
}
p.greeting{
    font-size: 24pt;
}
.picture img{
    width: 67%;
}
.name {
    font-weight: normal;
}
.advertising {
    margin-left: 30pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
    font-size: 12 pt;
}
header {text-align: center;}
main{text-align: justify;}
footer{text-align: right;}
.bigger{font-size: 16pt;}
table.pricelist th, table.pricelist td {
    border: grey thin solid;
    padding: 4px;
}
table.catalog {border-collapse: collapse;}

table.catalog td{
    border-top: black thin dotted;
    border-color: black thin dotted;
    padding: 10px;
}

table.catalog img {
    width: 200 px;
}

table.pricelist thead th {
    color: white;
    background-color: grey;
}

table.pricelist tfoot td {
    font-style: italic;
    text-align: right;
}

nav {
    float: left;
    width: 150px;
    margin: 10px 30px 10px 0px;
    padding: 10px;
    border: black medium double;
    border-radius: 10px;
}